{% block extrahead %}
<link rel="stylesheet" href="../../static/autostock/css/balance.css" />
{% endblock %}

<!-- 주식 잔고 Table 입니다. -->
<div class="wrapper-balance">
  <h2 class="balance-title">주식 잔고</h2>
  <table class="balance-table">
    <col />
    <colgroup span="4"></colgroup>
    <colgroup span="4"></colgroup>
    <thead class="balance-thead">
      <tr>
        <th colspan="1" scope="colgroup">종목명</th>
        <th colspan="1" scope="colgroup">현재가</th>
        <th colspan="1" scope="colgroup">평가금액</th>
        <th colspan="1" scope="colgroup">평가손익</th>
      </tr>
      <tr>
        <th scope="col">보유수량</th>
        <th scope="col">매입단가</th>
        <th scope="col">매입금액</th>
        <th scope="col">손익률(%)</th>
      </tr>
    </thead>
    <div class="balance-tbody-bpx">
      <tbody class="balance-tbody">
        {% comment %} showStockBalance
        <tr class="stock-balance">
          <td rowspan="2" class="d-none"></td>
          <td id="company-name">종목 이름1</td>
          <td id="current-price">7,540</td>
          <td id="evaluation-amount">75,400</td>
          <td id="valuation-profit-or-loss">300</td>
        </tr>
        <tr class="stock-balance">
          <td id="holding-quantity">10/10</td>
          <td id="purchase-unit-price">7,510</td>
          <td id="purchase-amount">75,100</td>
          <td id="profit-or-loss-rate">0.40</td>
        </tr>
        {% endcomment %}
      </tbody>
    <div>
  </table>
</div>

{% block extra_js %}
<script src="../../static/autostock/js/balance.js"></script>
{% endblock %}
