{% block extrahead %}
<link rel="stylesheet" href="../../static/autostock/css/balance.css" />
{% endblock %}

<!-- 주식 잔고 Table 입니다. -->
<div class="wrapper-balance">
  <h2 class="balance-title">주식 잔고</h2>
  <table class="balance-table">
    <col />
    <colgroup span="4"></colgroup>
    <colgroup span="4"></colgroup>
    <thead class="balance-thead">
      <tr>
        <th colspan="1" scope="colgroup">종목명</th>
        <th colspan="1" scope="colgroup">현재가</th>
        <th colspan="1" scope="colgroup">평가금액</th>
        <th colspan="1" scope="colgroup">평가손익</th>
      </tr>
      <tr>
        <th scope="col">보유수량</th>
        <th scope="col">매입단가</th>
        <th scope="col">매입금액</th>
        <th scope="col">손익률(%)</th>
      </tr>
    </thead>
    <div class="balance-tbody-bpx">
      <tbody class="balance-tbody">
      </tbody>
    <div>
  </table>
</div>

<!-- 계좌 잔고 Table 입니다. -->
<div class="wrapper-account">
  <h2 class="account-title">실시간 계좌 잔고</h2>
  <table class="account-table">
    <col />
    <colgroup span="4"></colgroup>
    <thead class="account-thead">
      <tr>
        <th colspan="1" scope="colgroup">계좌번호</th>
        <th colspan="1" scope="colgroup">총평가금액</th>
        <th colspan="1" scope="colgroup">총평가손익</th>
        <th colspan="1" scope="colgroup">총손익률(%)</th>
      </tr>
    </thead>
    <div class="account-tbody-bpx">
      <tbody class="account-tbody">
      </tbody>
    <div>
  </table>
</div>

{% block extra_js %}
<script src="../../static/autostock/js/balance.js"></script>
{% endblock %}
