<!-- extra head -->
{% block extrahead %}
<link rel="stylesheet" href="../../static/autostock/css/candlestick_chart.css" />
<!-- hightchart library -->
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
{% endblock %}

<div class="candlestick-chart">
    <div id="container" style="height: 400px; min-width: 310px"></div>
</div>

{% block extra_js %}
<script src="../../static/autostock/js/candlestick_chart.js"></script>
{% endblock %}