{% extends "../base/layout.html" %} {% load static %} {% block extrahead %}
<link rel="stylesheet" href="{% static 'autostock/css/interest_edit.css' %}" />
<script>
    window.onload = (event) => {
        var listedCompany = JSON.parse('{{ listed_company | safe }}')
        var stocksOfInterest = JSON.parse('{{ stocks_of_interest | safe }}')

        componentRendering({
            listedCompany: listedCompany,
            stocksOfInterest: stocksOfInterest
        });
    };

    const searchCompany = (e) => {
        var listedCompany = JSON.parse('{{ listed_company | safe }}')
        var stocksOfInterest = JSON.parse('{{ stocks_of_interest | safe }}')
        $searchCompany = document.querySelector("#searchCompany");
        if (window.event.keyCode == 13) {
            componentRenderingSearch({
                listedCompany: listedCompany,
                stocksOfInterest: stocksOfInterest
            }, $searchCompany.value);
        }
    }
</script>
{% endblock %}
</head>

<!-- title -->
{% block title %} Sieve :: Edit Interest {% endblock %} 

{% block contents %}
<div class="wrapper-border">
    <div class="wrapper">
        <div class="wrapper-header d-flex justify-content-between">
            <div class="wrapper-title">
                <h2 class="text-menu-title">관심 종목 설정하기</h2>
            </div>
            <div class="wrapper-search">
                <input type="text" id="searchCompany" placeholder="전체 종목에서 검색" onkeyup="searchCompany(this)" />
            </div>
        </div>
        <div class="container-listed-company">
            <div class="area-list-title">
                <span class="text-stocks-list-title">전체 종목</span>
            </div>
            <div id="contents-listed-company" class="contents-listed-company area-content-list" ondrop="drop(event)" ondragover="allowDrop(event)">

            </div>
        </div>
        <div class="container-stocks-of-interest">
            <div class="area-list-title">
                <span class="text-stocks-list-title">관심 종목</span>
            </div>
            <div id="contents-interest-company" class="contents-interest-company area-content-list" ondrop="drop(event)" ondragover="allowDrop(event)">

            </div>
        </div>
        <button class="save-btn" onclick="save()">저장</button>
    </div>
    <!-- End of .wrapper-->

    <div class="list-item" ondblclick="onDoubleClicked(this);" draggable="true" ondragstart="drag(event)">
        <div>
            <span class="company-name"></span>
            <span class="code"></span>
        </div>
        <div>
            <span class="updated"></span>
            <span class="category"></span>
        </div>
    </div>
</div>
<!-- End of .wrapper-border -->

{% csrf_token %} {% endblock %} {% block extra_js %}
<script src="{% static 'autostock/js/interest_edit.js' %}"></script>
{% endblock %}