{% block extrahead %}
<link rel="stylesheet" href="../../static/autostock/css/interest.css" />
{% endblock %}

<div class="container_interest">
  <div class="wrapper-title">
    <span class="text-item-title">관심 종목</span>
    <span class="btn-interest-edit">관심 종목 편집</span>
  </div> <!-- .wrapper-title -->

  <div class="container-stocks-of-interest">
    <div class="area-list-title">
      <span class="text-stocks-list-title">관심 종목</span>
    </div>
    <div id="contents-interest-company" class="contents-interest-company area-content-list">
      <div class="list-item" ondblclick="onDoubleClicked(this);">
        <div>
          <span class="company-name">삼성전자</span>
          <span class="code">012345</span>
        </div>
        <div>
          <span class="updated">2021.06.06</span>
          <span class="category">전자통신업</span>
        </div>
      </div>
      <div class="list-item" ondblclick="onDoubleClicked(this);">
        <div>
          <span class="company-name">삼성전자</span>
          <span class="code">012345</span>
        </div>
        <div>
          <span class="updated">2021.06.06</span>
          <span class="category">전자통신업</span>
        </div>
      </div>
      <div class="list-item" ondblclick="onDoubleClicked(this);">
        <div>
          <span class="company-name">삼성전자</span>
          <span class="code">012345</span>
        </div>
        <div>
          <span class="updated">2021.06.06</span>
          <span class="category">전자통신업</span>
        </div>
      </div>
      <div class="list-item" ondblclick="onDoubleClicked(this);">
        <div>
          <span class="company-name">삼성전자</span>
          <span class="code">012345</span>
        </div>
        <div>
          <span class="updated">2021.06.06</span>
          <span class="category">전자통신업</span>
        </div>
      </div>
      <div class="list-item" ondblclick="onDoubleClicked(this);">
        <div>
          <span class="company-name">삼성전자</span>
          <span class="code">012345</span>
        </div>
        <div>
          <span class="updated">2021.06.06</span>
          <span class="category">전자통신업</span>
        </div>
      </div>
      <div class="list-item" ondblclick="onDoubleClicked(this);">
        <div>
          <span class="company-name">삼성전자</span>
          <span class="code">012345</span>
        </div>
        <div>
          <span class="updated">2021.06.06</span>
          <span class="category">전자통신업</span>
        </div>
      </div>
      <div class="list-item" ondblclick="onDoubleClicked(this);">
        <div>
          <span class="company-name">삼성전자</span>
          <span class="code">012345</span>
        </div>
        <div>
          <span class="updated">2021.06.06</span>
          <span class="category">전자통신업</span>
        </div>
      </div>
      <div class="list-item" ondblclick="onDoubleClicked(this);">
        <div>
          <span class="company-name">삼성전자</span>
          <span class="code">012345</span>
        </div>
        <div>
          <span class="updated">2021.06.06</span>
          <span class="category">전자통신업</span>
        </div>
      </div>
      <div class="list-item" ondblclick="onDoubleClicked(this);">
        <div>
          <span class="company-name">삼성전자</span>
          <span class="code">012345</span>
        </div>
        <div>
          <span class="updated">2021.06.06</span>
          <span class="category">전자통신업</span>
        </div>
      </div>
    </div>
  </div>
</div> <!-- .container_interest -->

{% block extra_js %}
<script src="../../static/autostock/js/interest.js"></script>
{% endblock %}