{% extends "../base/layout.html" %} {% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'autostock/css/interest_edit.css' %}" />
<script>
    window.onload = (event) => {
        var listedCompany = JSON.parse('{{ listed_company | safe }}')
        var stocksOfInterest = JSON.parse('{{ stocks_of_interest | safe }}')
        componentRendering({ listedCompany: listedCompany, stocksOfInterest: stocksOfInterest });
    };
</script>
{% endblock %}

{% block title %}Sieve :: Interest Edit{% endblock %}
</head>

{% block contents %}
<div class="wrapper-border">
    <div class="wrapper">
        <h2 class="text-menu-title">관심 종목 설정하기</h2>
        <div class="container-listed-company">
            <div class="area-list-title">
                <span class="text-stocks-list-title">전체 종목</span>
            </div>
            <div id="contents-listed-company" class="contents-listed-company area-content-list">

            </div>
        </div>
        <div class="container-stocks-of-interest">
            <div class="area-list-title">
                <span class="text-stocks-list-title">관심 종목</span>
            </div>
            <div id="contents-interest-company" class="contents-interest-company area-content-list">

            </div>
        </div>
        <button onClick="save()">저장</button>
    </div> <!-- End of .wrapper-->

    <div class="list-item" ondblclick="onDoubleClicked(this);">
        <div>
            <span class="company-name"></span>
            <span class="code"></span>
        </div>
        <div>
            <span class="updated"></span>
            <span class="category"></span>
        </div>
    </div>
</div> <!-- End of .wrapper-border -->

{% csrf_token %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'autostock/js/interest_edit.js' %}"></script>
{% endblock %}