<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .flex-container {
            display: flex;
            flex-direction: row;
            /* flex-wrap: wrap;
            flex-flow: row wrap;
            justify-content: center; */
            background: toamto;
        }
        
        .flex-item {
            display: block;
            /* flex: 1 1 40%; */
            margin: 3px;
            width: 300px;
            height: 500px;
            background: aliceblue;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <div class="flex-container">
        <div class="flex-item"></div>
        <div class="flex-item"></div>
    </div>
    <div class="flex-container">
        <div class="flex-item"></div>
        <div class="flex-item"></div>
    </div>
</body>

</html>