.wrapper-border {
    width: 100vw;
    margin: auto;
}

.wrapper {
    display: block;
    width: 100%;
}

.signup-intro-bg {}

.signup-intro {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../../images/logo-bg.png"), url("../../images/logo-bg.png"), linear-gradient(210deg, #3a7bd5, #00d2ff);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top right, bottom left;
}

.signup-intro-title {
    position: relative;
    display: block;
    padding-left: 70px;
    top: 30vh;
}

.signup-intro-p {
    position: relative;
    display: block;
    padding-left: 70px;
    top: 40vh;
}

.signup-intro-p p {
    color: white;
}

.signup-logo {
    display: block;
    /* width: 200px; */
    text-align: center;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #006efc;
}

.logo-text {
    display: block;
}

.signup-form {
    display: block;
    width: 360px;
    margin: auto;
    color: #006efc;
}

.signup-form-item {
    display: block;
    width: 80%;
    margin: auto;
    font-size: 0.9em;
    margin-bottom: 20px;
}

.signup-form-item label {
    font-weight: bold;
}

.signup-input {
    width: 100%;
    height: 39px;
    margin-top: 5px;
    padding-left: 20px;
    border: 1px solid rgba(0, 110, 252, 0.25);
    box-sizing: border-box;
    border-radius: 20px;
    color: #006efc;
}

.signup-error {
    color: red;
    font-size: 0.9em;
    display: none;
}

.signup-button-box {
    display: block;
    width: 80%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    height: 39px;
    box-sizing: border-box;
    border-radius: 20px;
    background: #006efc;
    margin-top: 5px;
    border: 1px solid #006efc;
    font-weight: bold;
    color: #fff;
}

@media (min-width: 768px) {
    .wrapper-border {
        display: flex;
        width: 100vw;
        height: calc(100vh - 50px);
    }
    .wrapper {
        width: 100%;
        height: 100%;
    }
    .signup-intro {}
    .signup-form {
        width: 360px;
    }
    .signup-form-item {
        font-size: 0.9em;
    }
}