{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.6.0-dist/css/bootstrap.min.css' %}" />
    <script src="{% static 'base/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.6.0-dist/js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'account/css/signup.css' %}" />
    <title>Sieve</title>
    <script>
        async function postData(url = '', data = {}) {
            var token = '{{csrf_token}}'
            // Default options are marked with *
            const response = await fetch(url, {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                    'Content-Type': 'application/json',
                    "X-CSRFToken": token
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow', // manual, *follow, error
                referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                body: JSON.stringify(data) // body data type must match "Content-Type" header
            });
            return response.json(); // parses JSON response into native JavaScript objects
        }

        function emailFocusOut() {
            if (!$("#email").get(0).checkValidity()) {
                $("#email-error").text('※올바른 이메일형식이 아닙니다.');
                $("#email-error").show();

            } else {
                $("#email-error").hide();
                const formData = new FormData();
                formData.append('email', $("#email").val());
                postData('./signup/checkemail', formData)
                    .then(data => {
                        if (data['can_use_this_email']) {

                        } else {
                            $("#email-error").text('이미 가입 된 회원입니다.');
                            $("#email-error").show();
                        }
                    });
            }
        };//end of emailFocusOut()

        function nameOnInput() {
            $("#name-error").hide();
            var name = $("#name").val();
            if (name.length === 0 || name.length > 10) {
                $("#name-error").show();
                return;
            }
        }

        function phoneMask() {
            var num = $(this).val().replace(/\D/g, '');

            if (num.length < 3) {
                return;
            } else if (num.length >= 3 && num.length < 7) {
                $(this).val(num.substring(0, 3) + '-' + num.substring(3, 7));
                return;
            } else {
                $(this).val(num.substring(0, 3) + '-' + num.substring(3, 7) + '-' + num.substring(7, 11));
                return;
            }

        }

        function isFormValid(e) {
            e.preventDefault();
            return true;
        }

        $(document).ready(function () {
            $('[type="tel"]').keyup(phoneMask);
        });//end of ready()
    </script>
</head>

<body>
    <div class="container">
        <div class="wrapper">
            <div class="signup-logo">
                <img src="{% static 'images/logo-text.png' %}" class="logo-text" />
            </div>

            <div class="signup-form">
                <form action="{% url 'account:signup' %}" method="POST" onsubmit="return isFormValid();">
                    {% csrf_token %}
                    <div class="signup-form-item">
                        <label for="email">이메일</label>&nbsp;
                        <span id="email-error" class="signup-error">※올바른
                            이메일형식이 아닙니다.</span>
                        <div>
                            <input type="email" id="email" class="signup-input" name="email"
                                placeholder="mail@website.com" onfocusout="emailFocusOut()" required />
                        </div>
                    </div>
                    <div class="signup-form-item">
                        <label for="name">이름</label>&nbsp;
                        <span id="name-error" class="signup-error">※이름을 정확히 입력해주세요.</span>
                        <div>
                            <input type="text" id="name" class="signup-input" name="name" placeholder="홍길동"
                                maxlength="10" oninput="nameOnInput()" />
                        </div>
                    </div>
                    <div class="signup-form-item">
                        <label for="password">비밀번호</label>
                        <div>
                            <input type="password" class="signup-input" name="password"
                                placeholder="Min. 8 characters" />
                        </div>
                    </div>
                    <div class="signup-form-item">
                        <label for="phone-number">휴대폰 번호</label>
                        <div>
                            <input type="tel" id="phone-number" class="signup-input" name="phone-number"
                                placeholder="xxx-xxxx-xxxx" />
                        </div>
                    </div>
                    <div class="signup-button-box">
                        <button type="submit">
                            회원가입
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>